#lab_records #by_generic_detail_box{
    background: #f9f9f9;
    border-radius: 10px;
    padding: 12px 9px 12px 0px;
}

#lab_records #by_generic_detail_box .round_img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    /* padding-left: 13px; */
    margin-left: 10px;
}
#lab_records #by_generic_detail_box  .title{
font-size: 20px;
margin-left: 20px;
margin-top: 16px;
}
#lab_records #by_generic_detail_box .btn_viewmore {
    margin-top: 16px;
    margin-left: 40%;
    border-radius: 16px;
    background: transparent;
    color: #4dcc71;
    border: 1;
    border: 1px solid #4dcc71;
}
@media only screen and (max-width: 639px) {
    #lab_records #by_generic_detail_box .title {
        font-size: 20px;
        margin-left: 90px;
        margin-top: -38px;
    }
}
@media only screen and (max-width: 639px) {
    #lab_records #by_generic_detail_box .btn_viewmore{
        margin-top: -75px;
        margin-left: 64%;
        border-radius: 16px;
        background: transparent;
        color: #4dcc71;
       border: 1px solid #4dcc71;
    }
}

#lab_records #by_generic_detail_box .btn_viewmore i.fa {
    font-size: 14px;
    padding-left: 5px;
}

#quality_offer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: whitesmoke;
}
#quality_offer h3{
    font-weight: 100;
    font-size: 29px;
    margin: 0 0 10px;
}
#quality_offer p{
    padding-top: 10px;
    padding-bottom: 27px;
}
#quality_offer h3 span{
    color: #4dcc71;
    font-weight: 700;
}
/*#quality_offer a.list-group-item {*/
/*padding: 22px;*/
/*background: transparent;*/
/*color: #4dcc71;*/
/*}*/
/*#quality_offer  .list-group-item a:active{*/
/*color: #333333;*/
/*background: white;*/
/*}*/
#quality_offer a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #63cc71;
    text-decoration: none;
    background-color: #333333;
    padding: 25px 10px 10px 73px;
    font-weight: 900;
    font-size: 19px;
}
#quality_offer a.list-group-item {
    padding: 25px 10px 10px 73px;
    background: transparent;
    border-top: 1px solid #4dcc71;
    border-right: 1px solid #c2d4c7;
    border-radius: 0px;
    border-left: transparent;
    border-bottom: transparent;
}
#quality_offer .title {
    color: #4dcc71;
    font-size: 20px;
    padding-bottom: 2px;
}
#quality_offer .title:hover{
    color: black;

}
#quality_offer .btnreadmore {
    color: #fff;
    background-color: #4dcc71;
    border-color: #2e6da4;
    border: none;
    border-radius: 15px;}
#quality_offer .btnreadmore:hover {
    color: #4dcc71;
    background-color: transparent;
    border: 1px solid #4dcc71;
}

#lab_records .generic_title {
    color: #040404;
   font-size: 18px;

}

#generic_by_search

    /*Main Style*/

#generic_by_search section.section-padding {
    padding: 80px 0;
}
#generic_by_search .section-title {
    margin-bottom: 50px;
    text-align: center;
}
#generic_by_search .section-title h2 {
    font-size: 30px;
    position: relative;
}

#generic_by_search .section-title h2 span {
    color: #9b59b6;
}


#generic_by_search .section-title h2:before {
    background: #9b59b6;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
}
#generic_by_search .section-title h2:after {
    background: #333;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}



#generic_by_search .section-title p {
    font-size: 17px;
}

#generic_by_search .single-pricing-box {
    border: 2px solid #D6DDD9;
    padding: 20px;
    text-align: center;
    -webkit-transition: .2s;
    transition: .2s;
}

#generic_by_search .single-pricing-box:hover{
    border-color: #9b59b6;
    box-shadow: 0 0 30px #f1f1f1;
}

.single-pricing-box h3 {
    background: #ddd none repeat scroll 0 0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
/*#generic_by_search .pricing-icon {*/
    /*font-size: 60px;*/
    /*margin-bottom: 20px;*/
    /*-webkit-transition: .3s;*/
    /*transition: .3s;*/
/*}*/

/*#generic_by_search .single-pricing-box:hover .pricing-icon {*/
    /*color: #9b59b6;*/
/*}*/

/*#generic_by_search .pricing-list {*/
    /*margin-bottom: 25px;*/
    /*text-align: left;*/
/*}*/
/*#generic_by_search .pricing-list ul {*/
    /*line-height: 26px;*/
    /*list-style: outside none none;*/
    /*margin: 0;*/
    /*padding: 0 0 0 16px;*/
/*}*/

/*#generic_by_search .pricing-list ul li{*/
    /*font-size: 15px;*/
    /*-webkit-transition: all 0.2s ease 0s;*/
    /*transition: all 0.2s ease 0s;*/
/*}*/

/*#generic_by_search .pricing-list ul li:hover{*/
    /*padding-left: 5px;*/
/*}*/

/*#generic_by_search .pricing-list ul li:before{*/
    /*font-family: fontAwesome;*/
    /*content: "\f00c";*/
    /*color: #9b59b6;*/
    /*padding-right: 8px;*/
/*}*/

/*#generic_by_search .pricing-list ul li.off:before{*/
    /*content: "\f00d";*/
    /*color: red;*/
/*}*/

/*#generic_by_search .single-pricing-box h3.pricing-count {*/
    /*text-transform: none;*/
/*}*/
/*#generic_by_search a.bordered-btn {*/
    /*border: 1px solid #ddd;*/
    /*color: #333;*/
    /*display: inline-block;*/
    /*padding: 10px 30px;*/
    /*border-radius: 50px;*/
    /*-webkit-transition: .3s;*/
    /*transition: .3s;*/
    /*font-size: 16px;*/
    /*text-decoration: none;*/
/*}*/


/*#generic_by_search a.bordered-btn:hover{*/
    /*background: #9b59b6;*/
    /*color: #fff;*/
    /*border-color: #9b59b6;*/
/*}*/
#search_by_generic{
    padding-bottom: 20px;
    padding-top: 20px;
}
#search_by_generic .search_by_content_box {
    background: #f9f9f9;
    border: none;
    border-radius: 15px;
    padding: 20px 14px 42px 14px;
    box-shadow: 0px 2px 0px 2px #4dcc71;
}

#search_by_generic .btn_detail{
background: #4dcc71;
border: none;
border-radius: 15px;
padding: 5px 14px 5px 14px
}
#search_by_generic .cart{
    background:transparent;
    border: none;
    border-radius: 15px;
    padding: 5px 14px 5px 14px;
    border:1px solid #4dcc71;
    color: #4dcc71;
}
#search_by_generic .test_name {
    color: #4dcc71;
    font-size: 1.8em;
    padding-bottom: 2px;
}

#search_by_generic li{
    color: #55557b;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    font-weight: 200;
}
#search_by_generic .pricing{
font-size: 20px;
font-weight: 600;}


#mobile_num_modal .modal-dialog {
    width: 325px;
    margin: 30px auto;
}

#mobile_num_modal h3#exampleModalLongTitle {
    text-align: center;
}


#mobile_num_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}
#mobile_num_modal .modal-footer {
    padding: 15px;
    text-align: center;
    border:none;
    margin-top: 39px;
}

#mobile_num_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#mobile_num_modal .modal-content {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 35px;
}


#mobile_num_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    padding-top: 67px;
    padding-bottom: 23px;
}
#mobile_num_modal .modal-content  .form__group.field {
    padding: 27px;
}

#mobile_num_modal .modal-content  .btn_confirm {
background: #4dcc71;
color: white;
border-radius: 9px;
padding: 7px 30px;
border: none;
}



#mobile_num_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
#mobile_num_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}

#inquire_form_modal .modal-dialog {
    width: 350px;
    margin: 30px auto;
}

#inquire_form_modal h3 {
     text-align: center;
    color: #77797d;
    font-size: 17px;
}
#inquire_form_modal .modal-footer {
    padding: 7px;
    text-align: center;
    border: none;
    margin-top: 39px;
}

#inquire_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}


#inquire_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#inquire_form_modal .modal-content {
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 35px;
}


#inquire_form_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    /*padding-top: 67px;*/
    padding-bottom: 23px;
}
#inquire_form_modal .modal-content .form__group.field {
    /* padding: 27px; */
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#inquire_form_modal .modal-content  .btn_confirm {
    background: #4dcc71;
    color: white;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
}



#inquire_form_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
#inquire_form_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}



/*///////*/
#OTP_form_modal .modal-dialog {
    width: 350px;
    margin: 30px auto;
}

#OTP_form_modal h3 {
    text-align: center;
    color: #77797d;
    font-size: 17px;
    padding-bottom: 56px;
}


#OTP_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}
#OTP_form_modal .modal-footer {
    padding: 7px;
    text-align: center;
    border: none;
    margin-top: 39px;
}

#OTP_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#OTP_form_modal .modal-content {
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 35px;
}


#OTP_form_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    /*padding-top: 67px;*/
    padding-bottom: 23px;
}
#OTP_form_modal .modal-content .form__group.field {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#OTP_form_modal .modal-content  .btn_refresh {
    background: transparent;
    color: #a4a4a4;
    border-radius: 9px;
    /* padding: 1px 30px; */
    border: none;
    font-size: 12px;
}



#OTP_form_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
#OTP_form_modal .modal-content .btn_call {
    background: transparent;
    color: #a4a4a4;
    border-radius: 9px;
    /* padding: 1px 30px; */
    border: none;
    font-size: 12px;
}

#OTP_form_modal .btn_box {
    border: 1px solid #a4a4a4;
    margin-left: 25px;
    padding: 15px;
    margin-bottom: 50px;
}

#OTP_form_modal i.fa.fa-refresh {
    color: #4dcc71;
    font-size: 19px;
    padding: 9px;
}

#OTP_form_modal i.fa.fa-phone {
    color: #4dcc71;
    font-size: 19px;
    padding: 9px;
}

#OTP_form_modal .modal-content .btn_confirm {
    background: #4dcc71;
    color: white;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
}
#OTP_form_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}

/*///////////*/


#select_Family_form_modal .modal-dialog {
    width: 325px;
    margin: 30px auto;
}

#select_Family_form_modal h3#exampleModalLongTitle {
    text-align: center;
}


#select_Family_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}
#select_Family_form_modal .modal-footer {
    padding: 15px;
    text-align: center;
    border:none;
    margin-top: 39px;
}

#select_Family_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#select_Family_form_modal .modal-content {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 35px;
}


#select_Family_form_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    padding-top: 67px;
    padding-bottom: 23px;
}
#select_Family_form_modal .modal-content  .form__group.field {
    padding: 27px;
}

#select_Family_form_modal .modal-content  .btn_confirm {
    background: #4dcc71;
    color: white;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
}



#select_Family_form_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
#select_Family_form_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}

#select_Family_form_modal .modal-dialog {
    width: 350px;
    margin: 30px auto;
}

#select_Family_form_modal h3 {
    text-align: center;
    color: #77797d;
    font-size: 17px;
}


#select_Family_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}
#select_Family_form_modal .modal-footer {
    padding: 7px;
    text-align: center;
    border: none;
    margin-top: 39px;
}

#select_Family_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#select_Family_form_modal .modal-content {
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 35px;
}


#select_Family_form_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    /*padding-top: 67px;*/
    padding-bottom: 23px;
}
#select_Family_form_modal .modal-content .form__group.field {
    /* padding: 27px; */
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#select_Family_form_modal .modal-content  .btn_confirm {
    background: #4dcc71;
    color: white;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
}



#select_Family_form_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
#select_Family_form_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}
#select_Family_form_modal .title_bar{
    padding: 24px;
}
#select_Family_form_modal .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
    margin-right: 17px;
}

#select_Family_form_modal .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#select_Family_form_modal .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#select_Family_form_modal .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#select_Family_form_modal input:checked + .slider {
    background-color: #2196F3;
}

#select_Family_form_modal input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#select_Family_form_modal input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
#select_Family_form_modal .slider.round {
    border-radius: 34px;
}

#select_Family_form_modal .slider.round:before {
    border-radius: 50%;
}

#select_Family_form_modal  .pd_switch {
    padding: 20px;
}

#select_Family_form_modal  .span_name{
    padding-left: 22px;
}

#my_cart_sec {
    padding-top: 50px;
    padding-bottom: 50px;
}


#my_cart_sec .panel-default>.panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ddd;
    border-radius: 21px;
    padding: 20px;
    margin-bottom: 20px;
}
#my_cart_sec .panel {
    margin-bottom: 20px;
    background-color: #fff;
     border: 0px solid transparent;
    border-radius: 4px;
     -webkit-box-shadow: 0 0px 0px rgb(0 0 0 / 5%);
     box-shadow: 0 0px 0px rgb(0 0 0 / 5%);
}
#my_cart_sec   .fa-minus{
    font-size: 24px;
    margin-left: 24px;
}
#my_cart_sec .cart_price{
    float: right;
    margin-right: 0px;
    margin-top: -8px;
}
#my_cart_sec .sub_total_bar{
background: #f9f9f9;
padding: 15px;
border-radius: 21px;
}
#my_cart_sec .span_amount{
    float: right;
}

#my_cart_sec .bar_details{
    font-size: 20px;
}
#my_cart_sec .process_btn{
    background: #4dcc71;
    padding: 20px 43px 19px 43px;
    float: right;
    border-radius: 85px;
    font-size: 17px;
    border: none;
}
#specimen_collection_sec h4 {
    font-size: 18px;
    padding-top: 0px;

}
#specimen_collection_sec .recpt_box {
    border-radius: 11px;
    background: whitesmoke;
    padding: 30px;
}
#specimen_collection_sec .btn_confirm{
    background: #4dcc71;
    color: white;
    padding: 12px 184px;
    border: none;
    border-radius: 14px;
}


/**/
#Cart_SucessFully_form_modal .modal-dialog {
    width: 325px;
    margin: 30px auto;
}

#Cart_SucessFully_form_modal h3#exampleModalLongTitle {
    text-align: center;
}


#Cart_SucessFully_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}
#Cart_SucessFully_form_modal .modal-footer {
    padding: 15px;
    text-align: center;
    border:none;
    margin-top: 39px;
}

#Cart_SucessFully_form_modal .modal-dialog input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}
#Cart_SucessFully_form_modal .modal-content {
    padding-top: 40px;
    /*padding-bottom: 0px;*/
    border-radius: 35px;
}


#Cart_SucessFully_form_modal .modal-content  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 3px solid #9c9c9c;
    padding-top: 67px;
    padding-bottom: 23px;
}
#Cart_SucessFully_form_modal .modal-content  .form__group.field {
    padding: 27px;
}


#Cart_SucessFully_form_modal .modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;

}
#Cart_SucessFully_form_modal .modal-footer{
background: #4dcc71;
padding: 13px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 29px;
color: white!important;}
#Cart_SucessFully_form_modal .modal-content .btn_cancel {
    background: transparent;
    color: #a2a2a2;
    border-radius: 9px;
    padding: 7px 30px;
    border: none;
    border: 1px solid #9b9b9b;
}
#Cart_SucessFully_form_modal .title_bar{
    text-align: center;
    padding-top: 35px;
}

/**/

#Test_detail{
    padding-top: 20px;
    padding-bottom: 20px;

}
#Test_detail .box_info{
    background: #fffefe;
    padding: 10px;}
#Test_detail .title_test {
    color: #4dcc71;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

#Test_detail .description{
    color: #888397;
    font-size: 13px;}
#Test_detail .price_title{
    float: right;
    margin-top: -42px;
    position: relative;
    background: #4dcc71;
    color: white;
}
#Test_detail .justification_info{
    background: #ffffff;
    /* border-radius: 9px; */
    padding: 20px;
}
#Test_detail .title_justi {
    color: black;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid;
}

#Test_detail .des_justi {
    color: #9c8e80;
    font-size: 14px;
    /* font-weight: 600; */
    border-bottom: 1px solid #a1a1a1;
    padding-bottom: 18px;
    padding-top: 10px;
}

#registration_form input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}


#registration_form input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}


#registration_form .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 18px;
    transition: border-color 0.2s;
    padding-bottom: 23px;
    background: #f9f9f9;
    border-radius: 14px;
    margin-bottom: 11px;
}
#registration_form.form__group.field {
    /* padding: 27px; */
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#registration_form label{
    padding-top: 32px;
    margin-left: 10px;
    margin-bottom: 15px;
}
#registration_form .seprater
{ background: #e8e6e6;
    height: 2px;
    width: 50%;
    margin-top: 44px;
}
#registration_form {
    padding-top: 75px;
    padding-bottom: 50px;}

#registration_form .Recipt_des{
    border-bottom: 2px solid #dadada;
    padding-bottom: 10px;
    color: #7e7e92;
}
#registration_form .span_feild{
    float: right;
    color: #4dcc71;
}
#registration_form .btn_registration{
    padding: 12px 46px 14px;
    background: #4dcc71;
    color: white;
    border-radius: 23px;
}

#registration_form .btn_login {
    padding: 12px 50px 14px;
    background: transparent;
    color: #4dcc71;
    border-radius: 23px;
    margin-left: 12px;
    border: 1px solid #4dcc71;}

#registration_form select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */


#pass_pin.pin-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    /*height:50vh;*/
}
#pass_pin input {
    width: 44px;
    height: 44px;
    border: 1px solid #4dcc71;
    border-radius: 13px;
    outline: none;
    margin: 1px;
    text-align: center;
    margin: 0 5px;
    background: #eeeeee;
    font-size: 20px;
}
#pass_pin .pin{
    color:#ffffff;
    font-size:20px;
    text-align:center;
}
#pass_pin .title_bar{
padding-left: 100px;
padding-bottom: 33px;
 padding-top: 31px;
}
#pass_pin .pin_row{
padding-top: 90px;
}


#Login_sec .pin-wrapper {
    padding-top: 25px;
}

#Login_sec .pin-wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
    /*height:50vh;*/
    padding-top: 22px;
    padding-bottom: 24px;
}
#Login_sec .pin-wrapper input {
    width: 44px;
    height: 44px;
    border: 1px solid #4dcc71;
    border-radius: 13px;
    outline: none;
    margin: 1px;
    text-align: center;
    margin: 0 5px;
    background: #eeeeee;
    font-size: 20px;
}
#Login_sec .pin{
    color:#ffffff;
    font-size:20px;
    text-align:center;
}
#Login_sec .title_bar{
    padding-left: 100px;
    padding-bottom: 33px;
    padding-top: 31px;
}
#Login_sec .pin_row{
    padding-top: 90px;}


#Login_sec .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    /* padding: 7px 0; */
    background: transparent;
    transition: border-color 0.2s;
    border-bottom: 1px solid #4dcc71;
    padding-top: 67px;
    padding-bottom: 23px;
    border-radius: 0px;
}

#Login_sec  .pin-wrapper label {
    display: inline-block;
    max-width: 100%;
    /* margin-bottom: 5px; */
    font-weight: 700;
    margin-right: 35px;
    color: #4dcc71;
    font-weight: 900;
}
#Login_sec  .password_links{
    padding: 22px;
    font-size: 12px;
    color: #4dcc71;
}

#specimen_collection_sec input[type=text] {
    border: none;
    border-bottom: 1px solid #8842d5;
    margin-top: 7px;
    border-radius: 0px;
}


#specimen_collection_sec input[type=text] {
    border: none;
    border-bottom: 1px solid #1b1a1d;
    margin-top: 69px;
    border-radius: 0px;
}


#specimen_collection_sec .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    color: #4dcc71;
    padding: 18px;
    transition: border-color 0.2s;
    padding-bottom: 23px;
    background: #f9f9f9;
    border-radius: 25px;
}
#specimen_collection_sec.form__group.field {
    /* padding: 27px; */
    padding-left: 15px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#specimen_collection_sec label{
    padding-top: 32px;
    margin-left: 10px;
    margin-bottom: 15px;
}
#specimen_collection_sec .seprater
{ background: #e8e6e6;
    height: 2px;
    width: 50%;
    margin-top: 44px;
}
#specimen_collection_sec {
    padding-top: 27px;
    padding-bottom: 50px;}

#specimen_collection_sec .Recipt_des{
    border-bottom: 2px solid #dadada;
    padding-bottom: 10px;
    color: #7e7e92;
}
#specimen_collection_sec .span_feild{
    float: right;
    color: #4dcc71;
}
#lab_records .test_btn {
    padding: 8px 140px 8px;
}
@media only screen and (max-width: 639px) {
    header p, header span {
        font-size: 10px;
        padding-top: 3px;
        line-height: 3;

    }
}
@media only screen and (max-width: 639px) {
    i.fa {
        font-size: 12px;
    }

    .callbtn {
        padding: 2px 10px 2px 10px;
        margin-top: -5px;
        margin-left: 2px;
        border-radius: 14px;
        background: #4dcc71;
        border: none;
        font-size: 10px;
    }

    header .text-align-right {
        text-align: end;
        margin-top: -46px;
    }

    #lab_records .lab_search {
        border-radius: 0px;
        padding: 20px 12px 20px 24px;
        margin-top: 10px;
    }

    #lab_records .row.inner_col {
        padding-top: 10px;
        padding-right: 35px;
        padding-left: 35px;
    }

    #lab_records .rating {
        font-size: 24px;
    }

    #lab_records .test_btn {
        padding: 8px 131px 8px;
    }

    #search_by_generic .search_by_content_box {
        margin-top: 26px;
    }

    span.fa.fa-search.form-control-feedback {
        margin-top: 11px;
        color: #9da1af;
    }

    #specimen_collection_sec .btn_confirm {
        padding: 12px 33px;
    }

    #specimen_collection_sec .recpt_box {
        margin-top: 29px;
    }
    #thank_u .box {
        padding: 56px;
    }
    #Login_sec  img {
        width: 310px;
        height: auto;
    }
    #Login_sec button.btn.btn-secondary.btn_registration {
        margin-top: 89px;
        position: relative;
    }
    #Login_sec .pin_row {
        padding-top: 0px;
    }
    section#Login_sec {
        padding: 0px;
    }
    #my_cart_sec .process_btn {
        margin-top: 28px;
    }
    #feature_ser .box {
        margin: 10px;
    }
    #into_sec i.fa.fa-quote-left {font-size: 40px;}

    #into_sec i.fa.fa-quote-right {
        font-size: 40px;}
}



